<web-app>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>com.st.Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Addition.html</welcome-file>
  </welcome-file-list>
</web-app>